.CountryInfo {
    flex-grow: 1;
    border: 1px solid grey;
    margin-left: 20px;
    padding: 20px;
    background: lightgray;
}

.CountryInfoInner {
    display: flex;
}

.BordersInfo {
    padding-top: 40px;
}

.Flag {
    width: 200px;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: auto;
}

.Instruction {
    text-align: center;
    color: red;
}
